<!--  About Section -->
    <section id="pubs" class="about-section section-first">
        <div class="block-v1  bg-grey">
            <div class="container ">
                <div class="title-v1">
                    <h1>Papers</h1>
                </div>

                <div class="row" id="kdd">
                    <div class="col-lg-12">
                        <h4 class="text-muted">COSNET: Connecting Heterogeneous Social Networks with Local and Global Consistency</h4>
                    </div>
                    <div class="col-md-12 text-muted">
                        <b>Yutao Zhang</b>, Jie Tang, Zhilin Yang, Jian Pei, Philip Yu
                    </div>
                    <div class="col-md-12 text-muted">
                        To Appear In Proceedings of ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (KDD), 2015
                    </div>
                    <div class="col-md-12 text-muted">
                        Oral presentation, acceptance rate 19%.
                    </div>
                    <div class="col-md-12">
                        [<a target="_blank" href="./papers/zhang-kdd-2015.pdf">PDF</a>] [<a target="_blank" href="./slides/kdd-slides.pdf">Slides</a>]
                    </div>
                </div>

                <br><br>

                 <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-muted">EgoNetCloud: Event-based Egocentric Dynamic Network Visualization</h4>
                    </div>
                    <div class="col-md-12 text-muted">
                        Qingsong Liu, Yifan Hu, Lei Shi, Xinzhu Mu, <b>Yutao Zhang</b>, Jie Tang
                    </div>
                    <div class="col-md-12 text-muted">
                        IEEE Visual Analytics Science and Technology (VAST)
                    </div>
                    <div class="col-md-12 text-muted">
                    </div>
                    <div class="col-md-12">
                        [<a target="_blank" href="./papers/yang-wsdm-2014.pdf">PDF</a>]
                    </div>
                </div>

                <br><br>

                <div class="row" id="ijcai">
                    <div class="col-lg-12">
                        <h4 class="text-muted">Collaborative Embedding Features and Diversified Ensemble for E-Commerce Repeat Buyer Prediction</h4>
                    </div>
                    <div class="col-md-12 text-muted">
                        Zhanpeng Fang, Zhilin Yang, <b>Yutao Zhang</b>
                    </div>
                    <div class="col-md-12 text-muted">
                        To Appear In Proceedings of International Joint Conference on Artificial Intelligence (IJCAI) Workshop, 2015
                    </div>
                    <div class="col-md-12 text-muted">
                        Invited paper, competition winners.
                    </div>
                    <div class="col-md-12">
                        [<a target="_blank" href="./papers/fang-ijcai-2015.pdf">PDF</a>] [<a target="_blank" href="./slides/ijcai-contest.pdf">Slides</a>]
                    </div>
                </div>

                <br><br>
                
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-muted">Active Learning for Streaming Networked Data</h4>
                    </div>
                    <div class="col-md-12 text-muted">
                        Zhilin Yang, Jie Tang, <b>Yutao Zhang</b>
                    </div>
                    <div class="col-md-12 text-muted">
                        In Proceedings of ACM International Conference on Information and Knowledge Management (CIKM), 2014
                    </div>
                    <div class="col-md-12 text-muted">
                        Full paper, acceptance rate 21%.
                    </div>
                    <div class="col-md-12">
                        [<a target="_blank" href="./papers/yang-cikm-2014.pdf">PDF</a>]
                    </div>
                </div>

                <br><br>
               
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-muted">SAE: Social Analytic Engine for Large Networks</h4>
                    </div>
                    <div class="col-md-12 text-muted">
                        Yang Yang, Jianfei Wang, <b>Yutao Zhang</b>, Wei Chen, Jing Zhang, Honglei Zhuang, Zhilin Yang, Bo Ma, Zhanpeng Fang, Sen Wu, Xiaoxiao Li, Debing Liu, Jie Tang
                    </div>
                    <div class="col-md-12 text-muted">
                        In Proceedings of ACM SIGKDD International Conference on Knowledge Discovery and Data Mining (KDD), 2013
                    </div>
                    <div class="col-md-12 text-muted">
                        Demo paper.
                    </div>
                    <div class="col-md-12">
                        [<a target="_blank" href="./papers/yang-kdd-2013.pdf">PDF</a>]
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <!--  About Section -->

    